@import '~styles/shared';

.about {
  @extend %middle;
  animation: fadeIn 1s;
  height: 100%;

  &__profile {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__pic {
      filter: grayscale(40%);

      img {
        max-width: 30em;
      }
    }

    &__summary {
      @extend %middle;
      padding: 5em;
      max-width: 50em;

      &__header {
        @include rem-font-size(1.2);
        margin: 2em 0;
        font-weight: 500;
      }
    }
  }
}
