@import '~styles/shared';

.navbar {
  @extend %flex-row;
  @extend %unclickable;
  align-items: center;
  padding: 0 2em;
  width: 100%;
  position: fixed;
  z-index: $z-index-mid;

  &__item {
    @extend %pointer;
    @extend %hover;
    padding: 1em;
    font-weight: 500;

    &__header {
      @include rem-font-size(1.5);
      font-weight: 700;
      text-transform: lowercase;
    }
  }
}
