@import '~styles/shared';

.work {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5em 10em;
  width: 100%;
  margin: 5em 0;

  &__img {
    @extend %middle;
    flex-grow: 1;
    filter: grayscale(80%);

    img {
      max-width: 40em;
    }
  }

  &__summary {
    @extend %middle;
    flex-grow: 1;
    text-align: left;
    padding: 4em;

    &__wrapper {
      width: 32em;
    }

    &__header {
      @include rem-font-size(1.2);
      display: block;
      font-weight: 500;
      margin: 1em 0;
    }
  }
}
